/* reset css*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 100%;
    vertical-align: baseline;
}

a {
    color: #777;
}


:root {
    --button: #8b1d90;
    --text: #283593;
    --grey: #777;
    --grey2: #D5D5D5;
    --pad: #272929;
    --screen: #b09b33;
}