#hamburger {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 0;
    text-indent: 0;
    font-size: 30px;
    cursor: pointer;
    color: var(--text);

    &:hover {
        transform: scale(1.2);
        color: var(--button);
        transition: 0.3s;
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: var(--grey2);
    overflow: hidden;
    transition: 0.5s;
    box-shadow: black 5px 14px 20px 2px;

    h3 {
        text-align: center;
        padding: 4rem 0 0 0;
        color: white;
    }

    img {
        width: 300px;
        padding: 1rem;
    }

    .alt {
        padding: 3em 0 3em 0;
    }

    .closebtn {
        font-size: 36px;
        border-bottom: none;
        text-decoration: none;
        color: var(--text);
        float: right;
        margin-right: 20px;

        &:hover {
            transform: scale(1.5);
            color: var(--button);
            transition: 0.3s;
        }
    }

    ul {

        li {
            padding: 12px 8px 12px 30px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
            transition: 0.3s;
            border-bottom: 1px solid rgb(119, 119, 126);
            text-transform: uppercase;

            &:hover {
                background: var(--grey)
            }
        }


    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;



        input {
            border-radius: 10px 0 0 10px;
            padding: 0.4em;
        }

        i {
            background: var(--text);
            font-size: 1.25rem;
            padding: 0.7rem;
            color: white;
            border-radius: 0 10px 10px 0;

            @media screen and (max-width: 1680px) {
                padding: 0.5rem;
            }

            @media screen and (max-width: 1280px) {
                padding: 0.4rem;
            }

            @media screen and (max-width: 360px) {
                padding: 0.3rem;
            }

        }
    }

    #search {
        // position: absolute;
        width: 100%;
    }

    /*submenu*/

    .sub__list {
        display: none;
        transition: 2s;

        .items__sub__list {
            padding: 5px 28px;
            font-size: 15px;

            &:hover {
                background: var(--grey2);
            }
        }

    }

    .items:hover {
        .sub__list {
            display: block;
        }
    }
}