footer {
    color: var(--text);
    background: var(--grey2);
    font-weight: 700;

    .container__section {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }


    .footer__logo {
        display: flex;
        margin-bottom: 1rem;
        align-items: center;

        img {
            width: 70px;
        }

        h2 {
            color: var(--text);
            font-size: 1.5rem;
        }

    }


    .footer__section {
        padding: 30px 0px;
        text-align: center;

        p {
            color: var(--text);
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .row {
            width: 100%;
            display: flex;
            gap: 1rem;

            a {
                text-decoration: none;
                color: var(--text);
                transition: 0.5s;

                &:hover {
                    color: var(--button);
                }
            }

            ul {
                width: 100%;
            }

            li {
                display: inline-block;
                margin: 0px 30px;
            }

            i {
                font-size: 2em;
                margin: 0% 1%;
            }
        }
    }

    .copyright {
        text-align: center;

    }

    @media screen and (max-width: 720px) {
        .footer__section {
            text-align: left;
            padding: 3%;

            li {
                display: block;
                margin: 5px 0px;
                text-align: left;
            }

            i {
                margin: 0% 3%;
            }
        }
    }

    hr {
        margin: 22px 120px;
        border: 0;
        border-top: 3px solid #c5c5c5;
    }

}

// Responsive

@media screen and (max-width: 790px) {
    .container__section {
        display: flex;
        flex-direction: column;
        align-items: center;


        .footer__section {
            text-align: center;
        }
    }
}