.database {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

    .title {
        align-items: center;
        text-align: center;
        position: relative;
    }


    article {
        align-items: center;
        text-align: center;
        margin-bottom: 2em;
        position: relative;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 0px;
        padding: 1rem;

    }


    img {
        width: 200px;
    }
}