.comments {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.container__comment {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0px;
    width: 800px;


    .containerProfil {


        p {
            color: var(--button);
            font-weight: 900;
        }

        .image {
            img {
                width: 8em;
                height: 8em;
                border-radius: 50%;
            }

        }
    }
}

.mirror {
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 680px) {
    .container__comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 0;
        margin-bottom: 4rem;
        height: auto;
    }
}

.content__comment {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

// Responsive 
// @media screen and (max-width: 910px) {
//     .container__comment {
//         width: 500px;
//     }
// }