.major {
    h2 {
        font-size: 2em;
        font-weight: 700;
    }

    >:last-child {
        border-bottom: solid 3px var(--button);
        display: inline-block;
        margin: 0 0 2em 0;
        padding: 0 0.75em 0.5em 0;
    }
}



.features {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2em -3em;
    width: calc(100% + 3em);

    article {
        align-items: center;
        display: flex;
        margin: 0 0 3em 3em;
        position: relative;
        width: calc(50% - 3em);
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 0px;
        padding: 1rem;

        &:nth-child(2n - 1) {
            margin-right: 1.5em;
        }

        &:nth-child(2n) {
            margin-left: 1.5em;
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
            margin-bottom: 0;
        }

        img {
            flex-grow: 0;
            flex-shrink: 0;
            display: block;
            height: 10em;
            margin: 0 2em 0 0;
            width: 10em;
            border-radius: 15px;
        }


        .content {
            flex-grow: 1;
            flex-shrink: 1;
            width: 100%;
        }

    }

    .icon:before {
        color: #f56a6a;
        font-size: 2.75rem;
        position: relative;
        top: 0.05em;
    }

    .icon:after {
        transform: rotate(45deg);
        border-radius: 0.25rem;
        border: solid 2px rgba(210, 215, 217, 0.75);
        content: '';
        display: block;
        height: 7em;
        left: 50%;
        margin: -3.5em 0 0 -3.5em;
        position: absolute;
        top: 50%;
        width: 7em;
    }

    .content> :last-child {
        margin-bottom: 0;
    }
}

//Responsive


@media screen and (max-width: 1080px) {
    .features {
        margin: 0 0 2em 0;
        width: 100%;
    }

    .features article {
        margin: 0 0 3em 0;
        width: 100%;
    }

    .features article:nth-child(2n - 1) {
        margin-right: 0;
    }

    .features article:nth-child(2n) {
        margin-left: 0;
    }

    .features article:nth-last-child(1),
    .features article:nth-last-child(2) {
        margin-bottom: 3em;
    }

    .features article:last-child {
        margin-bottom: 0;
    }

    .features article .icon {
        height: 8em;
        line-height: 8em;
        width: 8em;
    }

    .features article .icon:before {
        font-size: 2.25rem;
    }

    .features article .icon:after {
        height: 6em;
        margin: -3em 0 0 -3em;
        width: 6em;
    }
}

@media screen and (max-width: 580px) {
    .features article {
        flex-direction: column;
        align-items: center;

    }

    .features article .icon {
        height: 6em;
        line-height: 6em;
        margin: 0 0 1.5em 0;
        width: 6em;
    }

    .features article .icon:before {
        font-size: 1.5rem;
    }

    .features article .icon:after {
        height: 4em;
        margin: -2em 0 0 -2em;
        width: 4em;
    }
}

@media screen and (max-width: 480px) {
    .features article .icon:before {
        font-size: 1.25rem;
    }
}