.inner5 {
    background: rgb(243, 243, 243);
}

.containerFigure {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;



    figure {
        margin: 1rem;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 0px;
    }


    iframe {
        width: 560px;
        height: 315px;
        border-radius: 15px 15px 0 0;

    }

    figcaption {
        text-align: center;
    }


    @media screen and (max-width: 1340px) {
        iframe {
            width: 460px;
            height: 215px;
        }
    }

    @media screen and (max-width: 590px) {
        iframe {
            width: 360px;
            height: 115px;
        }
    }

    @media screen and (max-width: 390px) {
        iframe {
            width: 260px;
            height: 100px;
        }
    }
}

.container {
    position: relative;
    background: #2c3e50;
    height: 50vh;
}

.wave {
    position: absolute;
    height: 96px;
    width: 100%;
    background: #2c3e50;
    bottom: 0;
}

.wave::before,
.wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
}

.wave::after {
    width: 55%;
    height: 100%;
    background-color: #2c3e50;
    left: -1.5%;
    top: 40%;
}