.containerFigure {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;



    figure {
        margin: 1rem;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 0px;
    }


    iframe {
        width: 560px;
        height: 315px;
        border-radius: 15px 15px 0 0;

    }

    figcaption {
        text-align: center;
    }


    @media screen and (max-width: 1340px) {
        iframe {
            width: 460px;
            height: 215px;
        }
    }

    @media screen and (max-width: 590px) {
        iframe {
            width: 360px;
            height: 115px;
        }
    }

    @media screen and (max-width: 390px) {
        iframe {
            width: 260px;
            height: 100px;
        }
    }
}