.bloc__page {
    margin-top: 9rem;
}

.container__twoBlocks {
    display: flex;
    margin: 3rem;
    gap: 2rem;
}

// Bloc de gauche

/*********** Presentation du jeu ***********/
.left__block {
    background: rgb(32, 31, 31);
    width: 70%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game__presentation__container {
    background: pink;
    padding: 1rem;
}

.fronbox__side__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}


.photo__frontbox {

    width: 300px;

    img {
        width: 100%;
    }
}

.photo__side {
    display: flex;
    gap: 2rem;
    height: 100px;

    img {
        width: 100%;
    }
}

.game__description {
    margin-top: 2rem;
}

@media screen and (max-width: 850px) {
    .game__presentation__container {
        text-align: center;
    }

    .fronbox__side__container {
        display: inline-block;
    }

    .photo__frontbox {
        width: 100%;
    }
}

/*********** Presentation du jeu - Fin ***********/

/******************************************************/
/*********** Info et autres photos - Debut ***********/
/****************************************************/
.container__table {
    display: flex;
    justify-content: space-around;
    background: yellowgreen;
    padding: 1rem;
    gap: 1.5rem;
}

.individual__info,
.multiple__info {
    text-align: center;
}

table.infoTable {
    background-color: var(--grey2);
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.infoTable td {
    border: 2px solid #AAAAAA;
    padding: 8px 8px;
}

table.infoTable td:nth-child(even) {
    background: white;
}

.container__normal__img,
.container__side__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.other__photos {
    background: rgb(221, 67, 67);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h3 {
        text-align: center;
    }


    .container__others__image {
        width: 180px;

        img {
            width: 100%;
            height: 200px;
        }
    }

    .container__others__image__side {
        width: 60px;

        img {
            width: 100%;
            height: 200px;
        }
    }

    .container__others__image__top {
        width: 180px;

        img {
            width: 100%;
            height: 50px;
        }
    }
}


//Responsive

@media screen and (max-width: 880px) {
    .container__table {
        display: block;
    }

    .multiple__info {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    table.infoTable td {
        padding: 3px 3px;
        font-size: 12px;
    }
}

/*********** Info et autres photos - Fin ***********/


/******************************************************/
/******************* Credit et pcb *******************/
/****************************************************/

.credit__pcb {
    background: rgb(220, 161, 220);
    display: flex;
    justify-content: space-around;
}

/*********** Credit et pcb - Fin ***********/

/******************************************************/
/******************* autres bloc *******************/
/****************************************************/

.import {
    background: orange;
}

.cover__compare {
    background: green;
}

.ingame__compare {
    background: rgb(97, 24, 24);
}

.version__compare {
    background: rgb(73, 71, 71);
}

.additional__info {
    background: rgb(42, 97, 76);
}

.screenshots {
    background: rgb(55, 55, 81);

    .container__screenshots {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .screenshots__image {

            width: 180px;

            img {
                width: 100%;
                height: 200px;
            }

        }
    }
}

.magazine__test {
    background: rgb(188, 177, 160);
}

// Bloc de droite

.right__block {
    border: 3px solid black;
    width: 30%;
}

.add__btns {
    display: flex;
    justify-content: center;
    margin: 1rem;

    i {
        background: var(--text);
        color: white;
        padding: 0.8rem;
        border-radius: 0.375em;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            &:hover {
                transform: scale(1.05);
                background: var(--button);
            }
        }
    }
}

.container__comments {
    text-align: center;
}

.text__zone {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;


    textarea {
        background: wheat;
    }
}


//Responsive block right and left

@media screen and (max-width: 680px) {

    .container__twoBlocks {
        display: block;
    }

    .left__block,
    .right__block {
        width: 100%;
        text-align: center;
    }

}